@import "tailwindcss";

:root {
  --background-color: #020101;
  --myRed: #e50914;
  --myWithe: #ffffff;
}

.bg-color {
  background-color: var(--background-color);
}

.text-myred {
  color: var(--myRed);
}

.text-mywhite {
  color: var(--myWithe);
}

body {
  background: var(--background-color);
  font-family: Arial, Helvetica, sans-serif;
}

/* navbar */

.custom-link:hover {
  color: var(--myRed);
}

/* movies */

.mt-custom {
  margin-top: 3rem;
  margin-right: 7rem;
}